# dependencies
/node_modules

# env
.env
.env.local
.env.*
!.env.example

# Yarn (if vendored later)
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# misc
.DS_Store
*.log

# typescript
*.tsbuildinfo

# jest coverage
/coverage
